* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cir: #222327;
}

body {
    align-items: center;
    background: #222327;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}